HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!/jar/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
!/jar/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
!/jar/
/docker/tempo/tempo-data/blocks/single-tenant/007085a5-3860-4a9d-9002-6da891db197a/bloom-0
/docker/tempo/tempo-data/blocks/single-tenant/d20c419b-448e-4734-8c16-d8d4bd5f8a81/bloom-0
/docker/tempo/tempo-data/blocks/single-tenant/ed58be7a-c2ae-4042-a3b5-74c413b7c705/bloom-0
/docker/tempo/tempo-data/blocks/single-tenant/edd5e01c-2327-43f6-aae7-3e7d58bfded3/bloom-0
/docker/tempo/tempo-data/blocks/single-tenant/007085a5-3860-4a9d-9002-6da891db197a/data.parquet
/docker/tempo/tempo-data/blocks/single-tenant/d20c419b-448e-4734-8c16-d8d4bd5f8a81/data.parquet
/docker/tempo/tempo-data/blocks/single-tenant/ed58be7a-c2ae-4042-a3b5-74c413b7c705/data.parquet
/docker/tempo/tempo-data/blocks/single-tenant/edd5e01c-2327-43f6-aae7-3e7d58bfded3/data.parquet
/jar/gateway-service-1.0.jar
/docker/tempo/tempo-data/blocks/single-tenant/007085a5-3860-4a9d-9002-6da891db197a/index
/docker/tempo/tempo-data/blocks/single-tenant/d20c419b-448e-4734-8c16-d8d4bd5f8a81/index
/docker/tempo/tempo-data/blocks/single-tenant/ed58be7a-c2ae-4042-a3b5-74c413b7c705/index
/docker/tempo/tempo-data/blocks/single-tenant/edd5e01c-2327-43f6-aae7-3e7d58bfded3/index
/docker/tempo/tempo-data/blocks/single-tenant/index.json.gz
/docker/tempo/tempo-data/blocks/single-tenant/007085a5-3860-4a9d-9002-6da891db197a/meta.json
/docker/tempo/tempo-data/blocks/single-tenant/d20c419b-448e-4734-8c16-d8d4bd5f8a81/meta.json
/docker/tempo/tempo-data/blocks/single-tenant/ed58be7a-c2ae-4042-a3b5-74c413b7c705/meta.json
/docker/tempo/tempo-data/blocks/single-tenant/edd5e01c-2327-43f6-aae7-3e7d58bfded3/meta.json
/jar/parser-service-1.0.jar
/jar/user-service-1.0.jar
/docker/tempo/tempo-data/blocks/single-tenant/9c3c540d-0a70-4184-b07f-c01839a07d3b/bloom-0
/docker/tempo/tempo-data/blocks/single-tenant/52bcc27a-f73f-4fbe-bef9-de45379daf7f/bloom-0
/docker/tempo/tempo-data/blocks/single-tenant/ec9b6238-7084-4b5f-90bf-291a46c2bbca/bloom-0
/docker/tempo/tempo-data/blocks/single-tenant/9c3c540d-0a70-4184-b07f-c01839a07d3b/data.parquet
/docker/tempo/tempo-data/blocks/single-tenant/52bcc27a-f73f-4fbe-bef9-de45379daf7f/data.parquet
/docker/tempo/tempo-data/blocks/single-tenant/ec9b6238-7084-4b5f-90bf-291a46c2bbca/data.parquet
/docker/tempo/tempo-data/blocks/single-tenant/9c3c540d-0a70-4184-b07f-c01839a07d3b/index
/docker/tempo/tempo-data/blocks/single-tenant/52bcc27a-f73f-4fbe-bef9-de45379daf7f/index
/docker/tempo/tempo-data/blocks/single-tenant/ec9b6238-7084-4b5f-90bf-291a46c2bbca/index
/docker/tempo/tempo-data/blocks/single-tenant/9c3c540d-0a70-4184-b07f-c01839a07d3b/meta.json
/docker/tempo/tempo-data/blocks/single-tenant/52bcc27a-f73f-4fbe-bef9-de45379daf7f/meta.json
/docker/tempo/tempo-data/blocks/single-tenant/ec9b6238-7084-4b5f-90bf-291a46c2bbca/meta.json
